{% extends "layout/base.html" %}

{% block title %}관리자 대시보드 - Team13-Phase4{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">관리자 대시보드</h2>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">제작사 관리</h5>
                        <p class="card-text">제작사 등록, 수정, 삭제</p>
                        <a href="{{ url_for('admin.manage_producers') }}" class="btn btn-primary">이동</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">콘텐츠 관리</h5>
                        <p class="card-text">콘텐츠 등록, 수정, 삭제</p>
                        <a href="{{ url_for('admin.manage_contents') }}" class="btn btn-primary">이동</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">시리즈 관리</h5>
                        <p class="card-text">시리즈 등록, 수정, 삭제</p>
                        <a href="{{ url_for('admin.manage_series') }}" class="btn btn-primary">이동</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">회원 관리</h5>
                        <p class="card-text">일반 회원 목록 조회 및 삭제</p>
                        <a href="{{ url_for('admin.manage_members') }}" class="btn btn-info">이동</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">태그 관리</h5>
                        <p class="card-text">태그 및 카테고리 등록, 삭제</p>
                        <a href="{{ url_for('admin.manage_tags') }}" class="btn btn-success">이동</a>
                    </div>
                </div>
            </div>
            
            </div>
        
    </div>
</div>
{% endblock %}